{% if visitorData.customDimensions['visit'] is defined and visitorData.customDimensions['visit']|length > 0 %}
    <div class="visitor-profile-summary visitor-profile-customdimensions">
        <h1>{{ 'CustomDimensions_CustomDimensions'|translate }} ({{ 'General_TrackingScopeVisit'|translate }})</h1>
        <div>
            {%- for name,dimension in visitorData.customDimensions['visit'] -%}
                <p>
                    <span>{{ name }}: </span>
                    {%- for value,count in dimension -%}
                        <strong title="{{ count }}x">{{ value }}</strong>{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                </p>
            {%- endfor -%}
        </div>
    </div>
{% endif %}

{% if visitorData.customDimensions['action'] is defined and visitorData.customDimensions['visit']|length > 0 %}
    <div class="visitor-profile-summary visitor-profile-customdimensions">
        <h1>{{ 'CustomDimensions_CustomDimensions'|translate }} ({{ 'General_TrackingScopeAction'|translate }})</h1>
        <div>
            {%- for name,dimension in visitorData.customDimensions['action'] -%}
                <p>
                    <span>{{ name }}: </span>
                    {%- for value,count in dimension -%}
                        <strong title="{{ count }}x">{{ value }}</strong>{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                </p>
            {%- endfor -%}
        </div>
    </div>
{% endif %}
